@page "/Index"
@using Ved_Organic.Data
@using Microsoft.AspNetCore.Http
@inject UserServiceDapper UserService
@inject Blazored.SessionStorage.ISessionStorageService session

<div>
@if(@user!=null)
{
@if(@user.PermissionString=="All")
{
<p>Hello, Admin</p>
}
@if(user.PermissionString=="Limited"){
    <p>Hello, @user.UserName</p>
}
}
</div>

@code{
    public LoginResponse user;
 
    protected override async Task OnInitializedAsync()
    {
         user = await session.GetItemAsync<LoginResponse>("SessionUser");
        
    }



    

}
