@page "/Index"
@using Ved_Organic.Data
@using Microsoft.AspNetCore.Http
@inject UserServiceDapper UserService
@inject Blazored.SessionStorage.ISessionStorageService session


    
@if(user!=null){
    <p>@user.Name</p>
}

@code{
    public UserInfo user;
    protected override async Task OnInitializedAsync()
    {
         user = await session.GetItemAsync<UserInfo>("SessionUser");
        
    }


}
