@page "/"
@using System.Text.Json
@using Ved_Organic.Data
@inject IJSRuntime JSRuntime 
@inject UserServiceDapper UserService
@inject NavigationManager NavigationManager 
@inject Blazored.SessionStorage.ISessionStorageService session
<h2 class="text-primary" style="text-align:center">Login</h2>
<div style="display:grid;align-items:center;justify-items:center;">
<div class="wrapper fadeInDown">
  <div id="formContent">
 @if(@res==null){
   <div class="alert alert-danger">
  Invalid Credentials
</div>
 } 

   
<EditForm  style="box-shadow:0px 0px 2px black; padding:2em; " OnValidSubmit="@Login"  Model="@log">
             <DataAnnotationsValidator />
              <div class="form-group">
                
                <InputText @bind-Value="log.Email" type="email" class="form-control" placeholder="Email" />
                <ValidationMessage For="@(() => log.Email)" />
            </div>
             <div class="form-group">
             <div class="row">
                 <div class="col"><InputText @bind-Value="log.Password" class="form-control" type="text" name="" placeholder="Password"/>
                 <ValidationMessage For="@(() => log.Password)" />
                 </div>
                 </div>
                 </div>
                        <div style="display:grid; background:blue;">
                           
                <button type="submit" class="btn btn-primary"  >Login</button>
  </div>   
  <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password</a>
      <p>Don't have an account?</p><a class="underlineHover" href="/Registration">Register Here</a>
    </div>
                 </EditForm>
                 
             </div> 
    


 


  </div>
</div>
@code {
  
    LoginInfo log = new LoginInfo();
    LoginResponse res = new LoginResponse();
    protected void  Login()
    {
        String Id = log.Email;
        String Pass = log.Password;
       res=  UserService.LoginDetails(Id,Pass);
        
       if(res!=null)
	   {     
       
            session.SetItemAsync("SessionUser", res);
            NavigationManager.NavigateTo("/Index");
        }

    }
  
}
